html,body{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    font-style: normal;
    min-width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.dropdown-menu{
    box-shadow: 0 0 10px rgba(188, 27, 27, 0.1);
}
.navbar{
    padding: .7rem 1.2rem;
    background-color: white;
    transition-duration: .2s;

}
.nav-link:hover{
    color: #8B4513!important;
    transition-duration: .2s;
}
.my-account .dropdown-header{
    align-content: flex-start;
}
footer{
	line-height: 1.75;
	font-family: "Segoe UI", sans-serif;
    border-radius: 5px;
    position: relative;
}
footer *{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;

}

ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 50px 0 20px 0;
    width: 100%;
}
.footer-col{
   width: 25%;
   padding: 0 300px 0 15px;
   flex: 1 ;
}
.footer-col-2{
    padding: 60px 0 20px 300px;
    flex:1.5;
}
.footer-col h4{
	font-size: 22px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.quote-container{
    font-family: "Segoe UI", serif;
    color: #ffffff;
    text-align: center;
    max-width: 500px;
    margin: auto;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.6;
}
.logo-container{
    text-align: center;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





