*{
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Segoe UI", sans-serif;
}
html,
body {
  height: 100%;
  align-items: center;
}
.h1{
  font-size: 30px;
}


input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
.form-control {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  margin: 0;
  font-family: "Segoe UI",sans-serif;
  font-size: 16px;
  color: #2e2e2e;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccbcb;
  border-radius: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}
.ccAppearance {
  width: 525px;
  position: relative;
  float: left;
  background: url('../img/ccapp.png') #ecebeb 0 0 repeat-x;
  -webkit-box-shadow: 0 2px 5px 0 rgba(119, 119, 119, 0.5);
  box-shadow: 0 2px 5px 0 rgba(119, 119, 119, 0.5);
  border-radius: 11px;
}
.ccAppearance:after {
  content: '';
  display: block;
  height: 100%;
  width: 70px;
  top: 0;
  left: 370px;
  position: absolute;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.33) 1%, rgba(0, 0, 0, 0.33) 20%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.33) 1%, rgba(0, 0, 0, 0.33) 20%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.33) 1%, rgba(0, 0, 0, 0.33) 20%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
}
.ccFront {
  width: 400px;
  position: relative;
  float: left;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background: url('../img/front.png') 0 0 repeat-x;
  border-radius: 11px;
  padding: 65px 12px 5px 12px;
  z-index: 1;
}
.ccFront .brand {
  position: absolute;
  top: 24px;
  background: url('../img/brand.png')  0 0  no-repeat;
  width: 340px;
  height: 24px;
}
.ccFront .ccFieldGroup {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.ccFront input,
.ccFront select {
  font-size: 13px !important;
}

.ccFront input {
  padding: 10px 10px !important;
  line-height: normal !important;
  height: auto;
}
.ccFront select {
  padding: 8px 6px !important;
  line-height: normal !important;
  height: auto;
}
.ccFront label {
  font-family: "Segoe UI",sans-serif;
  color: #666;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 200;
  padding-right: 12px;
  padding-bottom: 6px;
  display: inline-block;
  text-shadow: 0 -1px 1px #ffffff;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #666;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2em;
}
#ccNumber.valid-luhn:not:focus {
  border: 1px solid #c0c0c0 !important;
}
#ccSecurityCode {
  width: 75px !important;
}
.cvc-icon:hover {
  color: #000;
}
#ccExpirationLabel {
  width: 145px;
  text-align: right;
}
#ccExpirationMonth,
#ccExpirationMonth:focus {
  width: 105.5px !important;
  margin-right: 6px !important;
}
#ccExpirationYear {
  width: 105.5px !important;
}
#ccHolderLabel {
  width: 145px;
  text-align: right;
}
#ccHolder {
  width: 217px !important;
}
.ccSecurityCodeLabel,
.ccSecurityCodeNote {
  display: none !important;
  width: 201.5px;
}
.ccSecurityCodeLabel p,
.ccSecurityCodeNote p {
  font-size: 12px !important;
  margin: 0 0 11px 0 !important;
}
.ccSecurityCodeLabel.default,
.ccSecurityCodeNote.default {
  display: block !important;
}


@media (min-width: 781px) {
  #ccSecurityCode {
    position: absolute;
    left: 433.5px;
    top: 91px;
  }
  .cvc-icon {
    position: absolute;
    left: 484.5px;
    top: 103px;
  }
  .ccSecurityCodeLabel {
    position: absolute;
    top: 102px;
    left: 537px;
    line-height: normal;
  }

  .ccSecurityCodeNote {
    position: absolute;
    top: 135px;
    left: 537px;
    line-height: normal;
  }
  .amex #ccSecurityCode {
    left: 311px;
  }
  .amex .cvc-icon {
    left: 362px;
  }
  .amex .ccSecurityCodeLabel.amex,
  .amex .ccSecurityCodeNote.amex {
    width: 275px;
    left: 415px;
  }
}

.sectionContent {
  width: 100%;
  position: relative;
  padding: 27.5px 0 16.5px 0;
  display: flex;
  justify-content: center;
}

.sectionName {
  width: 100%;
  float: left;
  padding: 38.5px 16.5px 16.5px 0;
  clear: both;
  box-sizing: border-box;
  text-align: center;
}
.checkoutOrderPrice {
  font-size: 16px;
  display: flex;
  align-items: center; /* Vertical centering */
}
