
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'Flight1/css/about-us.css' %}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="{% static 'Flight1/img/planeicon.png' %}">
	<title>Weeboo | About</title>
    

</head>

<body>
    <img src="{% static 'Flight1/img/about_us.png' %}">
    <div class="container">
        <img src="{% static 'Flight1/img/work.png' %}" >
        <div class="content" >
            <div class="first-content">
                <h2>Who We Are</h2>
                <p>WEEBOO is your premier flight ticket manager, dedicated to simplifying and enhancing your travel experience. Established with a passion for travel and a commitment to innovation, we cater to the diverse needs of modern travelers.</p>
            </div>
            <div class="second-content">
                <h2>Our Vision</h2>
                <p>We envision a world where travel is a joyous adventure, unburdened by the complexities of ticket management. Through cutting-edge technology and a customer-centric approach, we aim to revolutionize the way you book, organize, and enjoy your flights.</p>
            </div>
        </div>
    </div>
</body>

</html>