{% extends 'Flight1/homelayout.html' %}

{% load static %}

{% block head %}
    <title>WEEBOO | History</title>
    <script type="text/javascript" src="{% static 'Flight1/js/history.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Flight1/css/history.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock head %}

{% block body %}
    <section class="section-section1">
        <div class="container-ticket">
            {% if tickets %}
                {% for ticket in tickets %}
                    <div class="row each-flight" id="{{ticket.ticket_code}}">
                        <div class="col-2" style="display: flex;">
                            <div style="display: flex; color: #666666; margin-top: auto;">
                                <div>
                                    <span style="font-size: 2.1em;">{{ticket.departure_date | date:"d"}}</span>
                                </div>
                                <div style="font-size: smaller; display: flex; margin: auto 0; padding-left: 5px; line-height: 1em;">
                                    <div style="margin: auto;">
                                        <div style="margin-bottom: 1px;">{{ticket.departure_date | date:"D"}}</div>
                                        <div style="margin-top: 1px;">{{ticket.departure_date | date:"M'y"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 middle-div">
                            <div style="width:100%">
                                <div class="row places" >
                                    <div style="max-width: 45%;">{{ticket.flight.depart.city}} - {{ticket.flight.destination.city}}</div>
                                </div>
                                <div class="row places" style="font-size: .8em; color: #999999; ">
                                    <div style="max-width: 100%;">{{ticket.flight.airline}} &middot; {{ticket.flight.plane}} &middot; {{ticket.passengers.count}} Passengers</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 middle-div">
                            <div style="font-size: 1.2em; color: #945937;">{{ticket.ticket_code}}</div>
                        </div>
                        <div class="col-2 middle-div">
                            <div>
                                <div class="row status-div">
                                    {% if ticket.status == 'CONFIRMED' %}
                                        <div style="background-color: green" class="status">{{ticket.status}}</div>
                                    {% endif %}
                                    {% if ticket.status == 'PENDING' %}
                                        <div style="background-color: orange " class="status">{{ticket.status}}</div>
                                    {% endif %}
                                    {% if ticket.status == 'CANCELLED' %}
                                        <div  style="background-color: red " class="status">{{ticket.status}}</div>
                                    {% endif %}
                                </div>
                                <div class="row booking-date-div" style="font-size: .7em; color: #666;">
                                    {% if ticket.status == 'CONFIRMED' %}
                                        Booked on: {{ticket.booking_date | date:"D, M d Y"}}
                                    {% endif %}
                                    {% if ticket.status == 'PENDING' %}
                                        Reviewed on: {{ticket.booking_date | date:"D, M d Y"}}
                                    {% endif %}
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-2 last-div">
                            <div>
                                <div class="ticket-action-div">
                                    {% if ticket.status == 'CONFIRMED' %}
                                        <form action="{% url 'Flight1:print' %}" method="get" target="_blank">
                                            <input type="hidden" name="ticket_code" value="{{ticket.ticket_code}}">
                                            <button type="submit" class="btn btn-danger"><i class='bx bx-printer'></i>
                                            </button>
                                        </form>
                                        
                                    {% endif %}
                                    {% if ticket.status == 'PENDING' %}
                                        <form action="{% url 'Flight1:resume' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="ticket_code" value="{{ticket.ticket_code}}">
                                            <button type="submit" class="btn btn-danger">
                                                <i class='bx bx-reset'></i>
                                            </button>
                                        </form>
                                        
                                       
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            {% else %}
                <div style="height: 100%; width:100%; padding: 10%;">
                    <div style="text-align: center; margin: auto;">
                        <i class='bx bx-add-to-queue' style="margin: 100px; font-size: 10em;"></i>
                        <br>
                        <p>
                            Looks like You don't have any bookings yet.
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}

