{% extends 'Flight1/homelayout.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'Flight1/img/planeicon.png' %}">
    <title>Weeboo | Get ticket</title>
    <link rel="stylesheet" href="{% static 'Flight1/css/payment2.css' %}">

{% endblock %}
{% block body %}
    <div class="section-section1">
    <div class="section1">
        <div class="check-gif">
            <img class="check" src="https://i.pinimg.com/originals/70/a5/52/70a552e8e955049c8587b2d7606cd6a6.gif">
        </div>
        <div class="header">
            <h2 style="color: white">Done</h2>
        </div>
        <div class="details">
            <div>                
            <div class="flight1">Booking Ref. Number: &nbsp;<span class="ref">{{ticket1.ticket_code}}</span>&nbsp;&nbsp;&nbsp;(<span class="from1">{{ticket1.flight.depart.code}}</span> <span>&#8594;</span> <span class="to1">{{ticket1.flight.destination.code}}</span>)</div>
                {% if ticket2 %}
            <div class="flight2">Booking Ref. Number: &nbsp;<span class="ref">{{ticket2.ticket_code}}</span>&nbsp;&nbsp;&nbsp;(<span class="from2">{{ticket2.flight.depart.code}}</span> <span>&#8594;</span> <span class="to2">{{ticket2.flight.destination.code}}</span>)</div>
               {% endif %} </div>
        </div>
        <div class="print-ticket">
            <div>
                <form action="{% url 'Flight1:print' %}" method="get" target="_blank">
                    <input type="hidden" name="ticket_code" value="{{ticket1.ticket_code}}">
                    <button type="submit" class="btn btn-danger">Print Ticket ({{ticket1.flight.depart.code}} to {{ticket1.flight.destination.code}})</button>
                </form>
                {% if ticket2 %}
                    <form action="{% url 'Flight1:print' %}" method="get" target="_blank">
                        <input type="hidden" name="ticket_code" value="{{ticket2.ticket_code}}">
                        <button type="submit" class="btn btn-danger">Print Ticket ({{ticket2.flight.depart.code}} to {{ticket2.flight.destination.code}})</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}