{% extends 'Flight1/homelayout.html' %}
{% load static %}

{% block head %}
    <link rel="icon" href="{% static 'Flight1/img/planeicon.png' %}">
    <title>Weeboo | Payment</title>
    <link rel="stylesheet" href="{% static 'Flight1/css/payment.css' %}" />
   {% endblock %}
{% block body %}
    <form action="{% url 'Flight1:payment' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="ticket" value="{{ticket}}" required>
      {% if ticket2 %}
          <input type="hidden" name="ticket2" value="{{ticket2}}" required>
      {% endif %}
        <div class="sectionName">
            <div class="h1" >Purchase details </div>
        </div>
        <div class="sectionContent">
          <div class="ccAppearance" >
            <div class="ccFront">
              <div class="brand"></div>
              <div class="ccFieldGroup">
                <label id="ccNumberLabel">Card number</label>
                <input  id="ccNumber" type="number" name="card_number" class="form-control" required/>
              </div>
              <div class="ccFieldGroup">
                <label class="ccSecurityCodeLabel default">Security code</label>
                <div class="ccSecurityCodeNote default"><p>A 3-digit code located to the right of the signature strip on the back of your card</p><p>A 4-digit code located on the front of your card</p></div>
                <div class="ccSecurityCodeNote visa visa_electron mastercard mc maestro discover diners_club_international diners_club_carte_blanche"><p>A 3-digit code located to the right of the signature strip on the back of your card</p></div>
                <div class="ccSecurityCodeNote amex"><p>A 4-digit code located on the front of your card</p></div>
                <input  maxlength="3" id="ccSecurityCode" name="ccSecurityCode" type="password" pattern="[0-9]*" class="form-control" placeholder="CVV" required/>
              </div>
              <div class="ccFieldGroup">
                <label  id="ccExpirationLabel">Expiration</label>
                <select id="ccExpirationMonth" name="exp_month" class="form-control" required>
                  <option value="">Month</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                <select id="ccExpirationYear" name="exp_year" class="form-control" required>
                  <option value="">Year</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                  <option value="2031">2031</option>
                  <option value="2032">2032</option>
                  <option value="2033">2033</option>
                  <option value="2034">2034</option>
                  <option value="2035">2035</option>
                  <option value="2036">2036</option>
                  <option value="2037">2037</option>
                  <option value="2038">2038</option>
                  <option value="2039">2039</option>
                </select>
              </div>
              <div class="ccFieldGroup">
                <label  id="ccHolderLabel">Card holder</label>
                <input  id="ccHolder" name="holder_name" type="text" class="form-control"/>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionContent" style="border-top: 1px solid #d3d3d3;">
            <div class="checkoutOrderPrice">
                <p style="width:100%; font-size:20px; margin: 0;padding: 10px">Order total:</p>
                <input type="text" class="form-control" name="fare" value="{{fare}} vnd" disabled required style="background: transparent; border: transparent;font-size: larger">
             </div>
        </div>

        <div class="sectionContent">
            <button type="submit" class="btn btn-danger">Order and Pay</button><br>
        </div>
        
      </form>
    
 {% endblock %}