
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'Flight1/img/planeicon.png' %}">
    <title>Weeboo | Privacy</title>
    <link rel="stylesheet" href="{% static 'Flight1/css/about-us.css' %}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <img src="{% static 'FLight1/img/privacy-policy.png.' %}">
    <div class="container">
        <div class="content" >
            <div class="first-content">
                <h2>Overview</h2>
                <p>Welcome to WEEBOO! This Privacy Policy is designed to inform you about how we collect, use, disclose, and safeguard your personal information when you use our website WEEBOO-airway.com or any related services. By accessing or using the Service, you agree to the terms of this Privacy Policy.</p>
            </div>
            <div class="second-content">
                <h2>Information We Collect</h2>
                <p>We may collect personally identifiable information, such as your name, email address, phone number, and other similar data, when you voluntarily provide it to us during your use of the Service. This information is used to communicate with you and enhance your experience with our Service.</p>
            </div>
            <div class="thirt-content">
                <h2>How We Use Your Information</h2>
                <ul>
                    We use the information we collect for various purposes, including:
                    <li>Providing, maintaining, and improving our Service.</li>
                    <li>Communicating with you, responding to your inquiries, and sending you updates.</li>
                    <li>Analyzing trends and user behaviors to enhance our offerings.</li>
                    <li>Protecting our legal rights and preventing misuse of the Service.</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>